html,body,div,h2,h3,p,a,ul,li,blockquote,table,aside,footer{
	padding:none;
	margin:none;
}
h2{
	font-weight:bold
}
.author{
	font-size:10px;
}
.retract{
	text-indent:2em;
}
#nav{
	border:2px solid black;
	padding:5px;
	background:black;
}
#nav nav{
	float:right;
}
#nav nav a{
}
head{
	padding:0px;
  
}
body{
	font-family:"Microsoft Yahei";
	background: #DEDEDE;
	font-size:15px;
}
.first,.second,.third,.fourth,aside{
	border:2px solid black;
	background:white;
	padding:10px;
	margin:20px;
}
