#nav{
	border:2px solid black;
	padding:5px;
	background:black;
}
#nav nav{
	float:right;
}
#nav nav a{
}
head{
	padding:0px;
  
}
body{
	font-family:"Microsoft Yahei";
	background: #DEDEDE;
	font-size:15px;
}
.first{
	border:2px solid black;
	background:white;
	margin:20px;
}
