#first{
  height:460px;
  border:2px solid #999;
  background:#eee;
  padding:20px;
  margin:20px 20px 20px 20px;
  overflow: auto;
}
#team{
  border:2px solid #999;
  background:white;
  float:left;
  width:200px;
  height:84px;
  padding:16px;
}
#team img{
  float:left;
  border:2px solid #999;
  width:80px;
  height:80px;
  padding:0;
  margin:0;
}
#team p{
  text-align:center;
  font-weight:bold;
  font-size:22px;
  height:-5px;
}
#introduce{
  border:2px solid #999;
  background:white;
  padding:20px;
  margin-left:260px;
  margin-right:140px;
  clear: left;
}
#personal{
  border:2px solid #999;
  background:white;
  float:right;
  width:96px;
  height:410px;
  padding:8px;
}
#personal img{
  border:2px solid #999;
  background:#eee;
  width:80px;
  height:80px;
  margin:8px;
 }
