#assist{
  position:relative;
  top:50%;
  width:400px;
  height:200px;
  margin:0 auto;
}
#background{
  position:relative;
  top:-50%;
  background:#ccc;
  width:400px;
  height:200px;
}
#top_left_corner,#bottom_right_corner{
  background:#fc0;
  width:50px;
  height:50px;
}
#top_left_corner{
  border-bottom-right-radius:4em;
  position:absolute;
  top:0;
  left:0;
}
#bottom_right_corner{
    float:right;
  border-top-left-radius:4em;
  position:absolute;
  right:0;
  bottom:0;

  
}
