#background{
  position:absolute;
  background:#ccc;
  width:400px;
  height:200px;
  left:50%;
  top:50%;
  margin-left:-200px;
  margin-top:-100px;
}
#top_left_corner,#bottom_right_corner{
  background:#fc0;
  width:50px;
  height:50px;
}
#top_left_corner{
  border-bottom-right-radius:4em;
  position:absolute;
  top:0;
  left:0;
}
#bottom_right_corner{
    float:right;
  border-top-left-radius:4em;
  position:absolute;
  right:0;
  bottom:0;
}
